:root {
  --col-primary: #ae82ff; /* 7f95d1 */
  --col-primary-o25: #ae82ff40; /* 7f95d140 */
  --col-secondary: #7fd1a0; /* ff5f98 */
  --col-secondary-o25: #7fd1a040; /* ff5f9840 */
  --col-fg: #ffffffde;
  --col-fg-o25: #ffffff40;
  --col-bg: #03080bde; /* 09030b */
  --col-bg-o25: #03080b40; /* 09030b40 */
  --outline-size: 0.5rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--col-fg);
  background-color: var(--col-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --col-primary: #2d0080;
    --col-primary-o25: #2d008040;
    --col-secondary: #2e7f4f;
    --col-secondary-o25: #2e7f4f40;
    --col-fg: #03080bde;
    --col-fg-o25: #03080b20;
    --col-bg: #ffffffde;
    --col-bg-o25: #ffffff40;
  }
}

#root {
  max-width: 100ch;
  min-width: 320px;
  min-height: 100svh;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: min-content min-content;
  gap: var(--outline-size);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

a {
  font-weight: bold;
  color: var(--col-primary);
  text-decoration: none;
}
a:hover :not(:has(button:hover)) :not(button) {
  color: var(--col-secondary);
  text-decoration: underline;
  text-decoration-color: var(--col-secondary-o25);
  text-underline-offset: 0.22em;
}

a:hover > h1 {
  color: var(--col-secondary);
}

h1 {
  font-size: 3rem;
}

button {
  color: var(--col-fg);
  border-radius: 0.5em;
  border: 1px solid #ffffff01;
  padding: 1ch 1.61ch;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--col-primary-o25);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover:not(:disabled) {
  border-color: var(--col-primary-o25);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: default;
  background-color: var(--col-bg-o25);
  color: var(--col-fg-o25);
}

#fssb {
  container-name: fssb;
  container-type: inline-size;
}

.filter-sort-search-bar {
  display: grid;
  margin-block: var(--outline-size);
  grid-template-columns: 1fr max-content max-content 1fr;
  grid-template-areas: ". fssb-left fssb-right .";
  gap: var(--outline-size);
}
.fssb-left {
  grid-area: fssb-left;
}
.fssb-right {
  grid-area: fssb-right;
}

@container fssb (width < 40rem) {
  .filter-sort-search-bar {
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". fssb-left ."
      ". fssb-right .";
  }
}

#filter {
  text-align: right;
}

#filter,
#sort_by {
  border-radius: var(--outline-size) 0 0 var(--outline-size);
}

#filter_by,
#order {
  border-radius: 0 var(--outline-size) var(--outline-size) 0;
}

#fssb-go {
  margin-left: var(--outline-size);
}

input,
select {
  padding: 1ch 1.61ch;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--col-fg-o25);
  border: 1px solid var(--col-fg-o25);
  color: var(--col-fg);
  height: 100%;
}

option {
  background-color: var(--col-bg);
}

ul {
  list-style: none;
}

.top-bar {
  outline: var(--outline-size) solid var(--col-primary-o25);
  z-index: 10;
  border-radius: 0 0 1px 1px;
}

.content-grid {
  width: 100%;
  margin-bottom: calc(var(--outline-size) * 2.5);
  background-color: var(--col-secondary-o25);
  outline: 0.5rem solid var(--col-primary-o25);
  text-align: left;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: 2.5rem min-content minmax(2.5rem, min-content);
  grid-template-areas:
    "content-grid-info content-grid-image"
    "content-grid-main content-grid-image"
    "content-grid-interaction content-grid-image";
  border-radius: 1px;
  overflow: hidden;
}

.content-grid.no-image {
  grid-template-columns: 1fr;
  grid-template-areas:
    "content-grid-info"
    "content-grid-main"
    "content-grid-interaction";
  margin-inline: calc(var(--outline-size) * 2);
  width: auto;
}

.content-grid-info {
  grid-area: content-grid-info;
}
.content-grid-main {
  grid-area: content-grid-main;
}
.content-grid-interaction {
  grid-area: content-grid-interaction;
}
.content-grid-image {
  grid-area: content-grid-image;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-grid > div,
.content-grid > textarea {
  padding: var(--outline-size) calc(var(--outline-size) * 2);
  font: inherit;
  resize: none;
  field-sizing: content; /* browser support for this isn't good (only works on Chrome and Edge), needs a js solution for full support */
}

.btn-updoot {
  margin-left: var(--outline-size);
  font-size: 1.25rem;
  margin-inline: 1ch 0.75ch;
  padding: 0;
  scale: 1.5;
  background-color: transparent;
  border-radius: 100vw;
}

#btn-new-comment {
  padding: 0.5ch 1ch;
  margin-left: 1ch;
}

.btn-updoot:hover,
#btn-new-comment:hover {
  border-color: var(--col-primary-o25);
}

.btn-updoot:focus:not(:focus-visible),
#btn-new-comment:focus:not(:focus-visible) {
  outline: none;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}
